{% load bootstrap4 %}

{% block content %}
    <div style="text-align: center; max-width: 450px; margin: 4rem auto;">
        <div class="mb-4">
        </div>
        <form action="{% url 'recommentapp:create' %}" method="post">
            {% csrf_token %}
            {% if user.is_authenticated %}
            <textarea name="content" cols="40" rows="10" class="form-control" placeholder="댓글을 작성하세요."
                        title="" required="" id="id_content" style="margin-top: 1rem; margin-bottom: 1rem; height: 4rem; white-space: pre-line;"></textarea>
            <input type="submit" class="btn btn-outline-dark rounded-pill col-3 mt-1" style="color:black;" value='작성'>
            <input type="hidden" name="comment_pk" value="{{ comment.pk }}">
            <input type="hidden" name="article_pk" value="{{ comment.article.pk }}">
            {% else %}
            <textarea name="content" cols="40" rows="10" class="form-control" placeholder="댓글은 로그인 후 작성 가능합니다."
                        title="" required="" id="id_content" style="margin-top: 1rem; margin-bottom: 1rem; height: 4rem; white-space: pre-line;"></textarea>
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="btn btn-dark rounded-pill col-6 mt-3">
                Login
            </a>
            {% endif %}
            
            <!--이름과 값이 article_pk인 인자를 숨겨서 보내준다.-->
        </form>
    </div>
{% endblock %}