{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<style>
    .container {
        padding: 0;
        margin: 0, auto;
    }

    .container div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }
    
    .container img {
        width: 12rem;
        height: 12rem;
        object-fit: cover;
        border-radius: 1rem;
    }

</style>
    
    {% if project_list %}
    <div class="container">
        {% for project in project_list %}
        <a href="{% url 'projectapp:detail' pk=project.pk %}">
            {% include 'snippets/card_project.html' with project=project %}
        </a>
        {% endfor %}
    </div>
    <script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}
    <div class="text-center">
        <h1>
            😢 게시물이 없습니다! 😢
        </h1>
    </div>
    {% endif %}

    <div style="text-align: center">
        {% if user.is_superuser %}
        <a href="{% url 'projectapp:create'%}" class="btn btn-outline-dark rounded-pill col-1.5 mt-2 mb-2">
            새 프로젝트 생성
        </a>
        {% endif %}
    </div>

{% endblock %}